<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>icon</key>
		<string>leftmenu_dynamicbus.png</string>
		<key>title</key>
		<string>公車動態</string>
		<key>item</key>
		<string>dynamicbus</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>leftmenu_routeplan.png</string>
		<key>title</key>
		<string>路線規劃</string>
		<key>item</key>
		<string>routeplan</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>leftmenu_nearstop.png</string>
		<key>title</key>
		<string>附近站牌</string>
		<key>item</key>
		<string>nearstop</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>leftmenu_traveltime.png</string>
		<key>title</key>
		<string>旅行時間</string>
		<key>item</key>
		<string>traveltime</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>leftmenu_questionreport.png</string>
		<key>title</key>
		<string>問題回報</string>
		<key>item</key>
		<string>questionreport</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>leftmenu_favorites.png</string>
		<key>title</key>
		<string>我的最愛</string>
		<key>item</key>
		<string>favorites</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>leftmenu_push.png</string>
		<key>title</key>
		<string>到站提醒</string>
		<key>item</key>
		<string>push</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>leftmenu_about.png</string>
		<key>title</key>
		<string>關於</string>
		<key>item</key>
		<string>about</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>leftmenu_language.png</string>
		<key>title</key>
		<string>語系切換</string>
		<key>item</key>
		<string>language</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>leftmenu_home.png</string>
		<key>title</key>
		<string>首頁</string>
		<key>item</key>
		<string>home</string>
	</dict>
</array>
</plist>
